<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>BPM Search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="Css/style.css" rel="stylesheet">
  
  <script src="Script/angular.min.js"> </script>
  <script src="Script/mainApp.js"></script>
  <script src="Script/WorkitemsController.js"></script>
    

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" ng-app="mainApp" ng-controller="wiController">

      <h1>BPM Tracker</h1>
      <h2>Please search with Workitem Number/Customer ID/Phone Number to get workitem details</h2>


      <div class="subscribe">
			<div class="subscribe-form">
				<input type="keyword" name="email" required><input type="submit" value="Search">
		 </div>  
      </div>
	<br/><br/><br/>
	<div class="row" *ngIf="workitems.wis?.length > 5">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="date-title">
						<span>Search Results</span>
					</div>
					<div id="content">
						<ul class="timeline">
							<li ng-repeat="wi in workitems.wis" class="event" data-date="{{wi.orderid}}">                                    
								<div class="wi-content">
									<h3>{{wi.name}}</h3>
									<br/>
									<p>Start Date : {{wi.startdate}}</p>
									<p>End Date : {{wi.enddate}}</p>
									<p>Current Workstep : {{wi.currworkstep}}</p>
									<p>Status : {{wi.stat}}</p>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    

    </div>
  </header><!-- End #header -->

  <main id="main">

    

  </main><!-- End #main -->
	<br/>
	<br/><br/><br/><br/><br/><br/><br/>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>The South Indian Bank Ltd.</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>



</body>

</html>